<table class="table table-borderless table-dark table-hover" id="table">
    <thead>
        <tr>
            <th>
                Firma Adı
            </th>
            <th>
                Ürün Adı
            </th>
            <th>
                Marka
            </th>
            <th>
                Tarih
            </th>
            <th>
                Uygunsuzluk
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in list_of_tagsis %}
        <tr>
            <td>
                {{ item['companyName'] }}
            </td>
            <td>
                {{ item['productName'] }}
            </td>
            <td>
                {{ item['brand'] }}
            </td>
            <td>
                {{ item['date'] }}
            </td>
            <td>
                {{ item['unsuitability'] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>